<form class="create">
    <label for="title">Title</label>
    <input type="text" name="title" class="title" value="{{title}}">
    <label for="content">Content</label>
    <input name="content" class="content" value="{{content}}">
    <label for="author">Author</label>
    <input name="author" class="author" value="{{author}}">

    <button class="save">Save Changes</button>
    <button class="destroy">Delete</button>
</form>
