<form class="personal-data-form">
    <p class="input-identifier">First Name</p> <input type="text" class="first-name" placeholder="First Name">
    <p class="input-identifier">Last Name</p> <input type="text" class="last-name" placeholder="Last Name">
    <p class="input-identifier">Address</p> <input type="text" class="address" placeholder="Address">
    <p class="input-identifier">Phone Number</p> <input type="text" class="phone-number" placeholder="Phone Number">
    <button class="submit-form">Send</button>
</form>
