<button class="add-link">+ New Bookmark</button>
<form class="new-link">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <label for="url">Url</label>
    <input name="url" id="url">
    <label for="tag">Tag</label>
    <input name="tag" id="tag">

    <button>Submit</button>
</form>
