<ul>
        {{#each this as |blog|}}
            <li>
                <a href="#{{ blog._id }}">
                    <p>{{blog.title}}</p>
                    <p>{{blog.author}}</p>
                </a>
            </li>
        {{/each}}
        <li><a href="/new"><button class="new-blog">+ New Bookmark</button></a></li>
    </ul>
